    html,body{
        margin:0;
        height:100%;
        width: 60%;
        background:#05060b;
        overflow:hidden;
        font-family:Inter,system-ui,Segoe UI,Roboto,'Helvetica Neue',Arial;
    }

    #js_items {
        border-radius: 30px;
    }